*{
	margin: 0;
	padding: 0;
}

body{
	background-image: url("../img/book.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.wrapper{
	width:900px;
	height: 800px;
	margin: auto;
	margin-top: 20px;
}


.wrapperMain{
    width:100%;
    height: 1000px;
    margin: auto;
    margin-top: 20px;
    color: white;

}
.wrapperMain input[type="submit"]{
    margin-left: 1em;
    padding-right: 2em;
    line-height: 0.2;
    padding-left: 2em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.locals form{
	width:100px;
	background-color: #2E64FE;
	border-radius: 5px;
	display: inline-block;
}

.locals form input:nth-child(4){
	background-color: #2E64FE;
	color:white;
	border:none;
	font-size: 20px;
	padding: 5px;
	border-radius: 5px;
}

.form{
	width:450px;
	height: 210px;
	padding-top: 10px;
	background-color: #E6E6E6;
	border-radius: 5px;
	margin: auto;
}

.content{
	margin: auto;
	display: block;
	width: 350px;
	position: relative;
}

.content input{
	margin-top: 10px;
	display: block;
	width: inherit;
	height: 50px;
	font-size: 20px;
	border:3px solid #2E64FE;
	border-radius: 5px;
	padding-left: 10px;
}

.header{
	color:#E6E6E6;
	margin:20px 0;
	text-align: center;
}

input[type="submit"]{
	height:40px;
	background-color:#2E64FE;
	font-size: 20px;
	border:none; 
	color: white;
	border-radius: 5px;
	text-align: center;
	cursor:pointer;
	float: left;
}

.footer a{
	text-decoration: none;
	font-size: 20px;
	color:black;
	float: right;
	line-height: 2em;
}

.footer a:hover{
	text-decoration: underline;
}
.footer{
	width:350px;
	margin: 20px auto;
	display: block;
}

.buttonLogin{
	width: 200px;

}

.footer{
	font-size: 16px;
}

footer{
	height: 50px;
	color: #E6E6E6;
}

.formInfo{
	min-height: 100%; 
}

input[type="radio"]{
	width: 20px;
	height: 20px;
}

.formRegistrate{
	height: auto;
}


.regCont label{
	position: absolute;
	font-size: 21px;
	left:25px;
}

.registrateInfo{
	min-height: 100%;
}

.regFooter{
	margin-top: 7%;
}

.content label:nth-child(1){
	top: -3px;
}

.stud{
	top:28px;
}
.editLabel label{
	font-size: 25px;
}
.editLabel input{
	margin-bottom: 10px;
}
.formEdit{
	height: 370px;
	margin-top: 20%;
}

.buttonAdd{
	width: 350px;
}
.formAdd{
	height: 290px;
	margin-top: 20%;
}
.formEstimate{
    height: 200px;
    margin-top: 20%;
}
.estimate{
    background-image: url("../img/est.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.contMain{
    /*width: 80%;*/
    /*margin: 0  auto;*/
    padding-left: 27em;

}
.contMain table{
    background-color: #008b8b ;
    color:white;
    font-size: 15px;
    margin: 0;
    width:85%;
    border-collapse: collapse;

}
.contMain  TD, TH {
    padding: 3px;
    border: 2px solid darkgray;
}
.contMain a{
    text-decoration: none;
    font-size: 20px;
    color:white;
    float: left;
    line-height: 2.5em;
    margin-left: 2em;
}

.contMain a:hover{
    text-decoration: underline;
}